@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    --OpenSans : "Open Sans";
    --SecondFont : "Monsterrat Alternates", sans-serif;
    --pColor : #006B7B;
    --sColor : #C2FCF3;
    --tColor : #56C4B7;
    --black : #2D2F30;
}
/* Navbar css */

.spa {
    max-width: 100%;
}
.spa header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width:100%;
    padding:10px 25px;
    background-color: white
}
.spa header nav ul li {
    display: inline-block;
}
.spa header nav ul li a {
    font-family: var(--OpenSans);
    color:#111;
    font-size: 0.8rem;
}

/* Herosection css */

.spa .herolayer {
    margin-bottom:50px ;
    background-image: url('/../assets/images/layer.png');
    background-position: center;
    background-size: cover;
    height:100vh;
    z-index: -1;

}



.spa .hero .textsection h1 {
    font-family: var(--OpenSans);
    color:var(--black);
    margin-bottom: 20px;
}


.spa .hero .textsection p {
    font-family: var(--OpenSans);
    line-height: 2;
    word-wrap: none;
    word-spacing: 1px;
    margin-bottom: 20px;

}

.spa .hero .textsection button {
    border: 1px solid var(--pColor);
    color:var(--pColor);
    padding:10px 35px;
    font-family: var(--OpenSans);
    font-weight: 700;
    transition: ease .2s;
    border:none;
    background-color: var(--pColor);
    color:white;
}
.spa .hero .textsection button:hover {
    border: 1px solid var(--pColor);
    color:var(--pColor);
    background-color: transparent;
}

.spa .reviews {
    position: relative;
    margin-bottom:100px ;
    max-width:100%;
    height:60vh;
}




.spa .reviews .textreview div:first-child p:first-child, p:nth-child(3) {
    color:var(--pColor);
    font-size: 60px;
    width: fit-content;
    z-index: 5;
    height:60px;
}

.spa .reviews .textreview div:first-child p:nth-child(2) {
    letter-spacing: .8px;

    line-height: 30px;
}

.spa .reviews .textreview div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spa .reviews .textreview div:nth-child(2) div {
    border-radius: 50%;
    background-color: #ddd;
    width: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.spa .reviews .textreview div:nth-child(2) p {
    font-weight: 600;
    font-family: var(--SecondFont);
}

.spa .reviews .imgreview img {
    z-index: 5;
}




.spa .reviews .layereviewR {
    z-index: -1;
    width: 220px;
    height: 390px;
    position: absolute;
    top:35px;
    right:0;
}
.spa .reviews .layereviewL {
    z-index: -1;
    width: 450px;
    opacity: 30%;
    height: 390px;
    position: absolute;
    top:35px;
    left:0;
}





.layerExp {
    background-image: url('/public/assets/images/layer.png');
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spa .exp div div div:first-child p:first-child, p:nth-child(3) {
    color:var(--pColor);
    font-size: 60px;
    width: fit-content;
    z-index: 5;
    height:60px;
}

.spa .exp div div  div:first-child p:nth-child(2) {
    letter-spacing: .8px;
    line-height: 30px;
}



.spa .exp div div div:nth-child(2) .imgbg {
    border-radius: 50%;
    background-color: #ddd;
    width: 52px;
    margin-bottom: 10px;
    height: 52px;
}


.spa .exp .imgexp img {
    z-index: 5;
}



.spa .headerexp , .headereview {
    color:var(--black);
    text-align: center;
    margin-top:200px;
    padding: 10px 0px;
    font-weight: bolder;
    font-family: var(--OpenSans);
}

.expBtn {
    background-color: #ddd;
    color: #111;
    padding:15px 20px;


}
