
a{
    text-decoration: none !important;
    color: #000 !important;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #fff;
}
nav .links{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .links .link{
    position: relative;
    margin: 0 20px;
}
.links .link a{
    color: #006B7B !important;
}
.logo{
    margin-left: 20px;
}
.logo img{
    height: 36px;
}
.join{
    margin-right: 20px;
}


.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-m{
    position: relative;
}
.active-m::before{
    content: '';
    position: absolute;
    bottom: -18px;
    left: 0px;
    height: 4px;
    width: 100%;
    background:  #008E82;
    border-radius: 10px;
}
.join-us{
    cursor: pointer;
}
.less-links{
    display: none;
}
@media screen and (max-width: 768px) {
    .links {
      display: none !important;
    }
    .link-l .link{
        padding: 10px;
        font-size: 1.3em;
    }
    .link-l a:hover .link{
        background: #006B7B;
        color: #fff;
    }
    .less-links{
        display: block;
       width: 250px;
    }
}
.right{
    float: right;
}
.user-picture{
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #006B7B;
    width: 40px;
    height: 40px;
}
.user{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user a{
    font-size: 1.2em;
    margin: 0 10px;
}
